<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Simple TestNG">
  <test name="Test Reporter">
    <classes>
      <class name="ch4_2.DemoB"/>
      <class name="ch4_2.DemoA"/>
    </classes>
  </test> <!-- Test Reporter -->
</suite> <!-- Simple TestNG -->
